# IntelliJ / Android Studio
*.iml
.idea/

# Gradle
.gradle/
build/
local.properties

# macOS
.DS_Store

# NDK / CMake
.externalNativeBuild/
.cxx/

# Captures
captures/

# OS or Editor Metadata
*.swp

